
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, p {
    text-align: center;
}

h3 {
    text-align: center;
}

form {
    width: 50%; 
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;          
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa; 
}  

div {
    width: 80%; 
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #aaa; 
} 

input {
    margin: 5px;
}

.error {
    color: red;
}

.btnGreen {
    color: green;
    font-weight: bold;
}

.btnGreenDisabled {
    color: rgb(150, 250, 150);
    font-weight: bold;
}

.btnRed {
    color: red;
    font-weight: bold;
}

.btnRedDisabled {
    color: rgb(250, 150, 150);
    font-weight: bold;
}


